<section data-ng-controller="HomeController">
  <div class="mainHeader">
    <div class="header-content container">
      <div class="header-content-inner">
        <img alt="logo" src="modules/core/img/logo.png" class="img-responsive" id="logo">
        <h1>Travel anywhere. Pay nothing.</h1>
        <hr>
        <p>Earn free travel effortlessly with the ultimate guide to credit card signup bonuses.</p>
        <a href="#about" class="page-scroll"><img src="modules/core/img/down-arrow.png" class="img-responsive" id="down-arrow" alt=""></a>
      </div>
    </div>
  </div>

  <section class="bg-primary roadmap" id="about">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2 text-center">
          <h2 class="section-heading" name="about">How to earn years of free travel</h2>

          <div id="howToEarn">
            <hr class="light">
            <div class="howToNumber">1</div>
            <p class="howToStep">Apply for credit cards with the best rewards</p>
            <div class="howToNumber">2</div>
            <p class="howToStep">Spend the minimum for huge signup bonuses</p>
            <div class="howToNumber">3</div>
            <p class="howToStep">Redeem the miles for flights and hotels</p>
          </div>

          <a class="btn" href="#!/scores/">Find the best cards for me</a>
        </div>
      </div>
  </section>
</section>
